/* Portfolio Website */
/* By. Andrie Quinatac-an */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Sofia Pro,Arial,sans-serif;;
	list-style: none;
	overflow-x: hidden;
}

:root {
	--blue: #392BFC;
	--white: #F8EBFF;
	--black: #352C48;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.content, .contentHeadline{
	padding: 0px 0.5rem;
	margin: 0px 1.5rem;
}

hr {
	margin: 2rem 0;
}

/* Header Part */

.header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-content: center;
	font-weight: 900;
	border-bottom: 1px solid gray;
}

.header-top .logoImg {
	height: 2rem;
	margin-top: 3px;
	margin-left: 1rem;
}
	
nav {
	margin-top: 3px;
	margin-right: 1rem;
}

nav a {
	display: block;
	background: transparent;
}

nav a img {
	height: 2rem;
	background: transparent;
	cursor: pointer;
}

#menuBar {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 0;
	transition: height 0.3s;
}

#menuBar li a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--blue);
	font-family: sans-serif;
	display: block;
	border-bottom: 1px solid black;
}

/*#menuBarHover {
	position: absolute;
	margin: auto;
	padding: 0;
	z-index: -1;
	transition: padding 0.3s;
	background: gray;
	height: 3rem;
	width: 3rem;
}*/

/* Introduction Part */

#name {
	color: #55FBDC;
}

#intro {
	background: var(--black);
}

.introduction {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
}


.intro-content {
	color: var(--white);
	padding: 5px;
	float: left;
	width: 100%;
	margin: 6rem 1rem 0px 1rem;
}

.intro-header {
	margin-bottom: 5rem;
	border-left: 8px solid #B5A2D8;
}

.intro-header h1 {
	font-size: 2rem;
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: 900;
	word-spacing: -5px;
}

.intro-header h2 {
	padding: 3px;
	font-size: 1.2rem;
	margin-left: 1rem;
	color: #00CFFF;
}

.intro-memo {
	padding: 5px;
	line-height: 23px;
}
.intro-memo p:nth-child(1) {
	text-indent: 1rem;
	margin-bottom: 1rem;

}

/* Skill Set Section */



#skillSet, #personalProject, #aboutPage {
	word-spacing: 5px;
	margin: 2rem 0px;
	padding: 2rem 0px;
}

#skillSet p, #personalProject p, #aboutPage p {
	line-height: 23px;
}

#skillSet h1, #personalProject h1, #aboutPage h1 {
	border-left: 8px solid var(--black);
	text-indent: 0.5rem;
	margin-bottom: 5rem;
	letter-spacing: -1px;
	color: var(--blue);
	position: relative;
	font-weight: 900;
	line-height: 30px;
	overflow: hidden;
}

#personalProject h1 {
	font-size: 27px;
}

#skillSet ul li {
	display: inline-block;
}

#skillSet ul li:nth-child(1) h2 {
	color: #f06529; 
}

#skillSet ul li:nth-child(1) h2:after {
	content: url("html5-icon.png");
	vertical-align: middle;
}

#skillSet ul li:nth-child(2) h2 {
	color: #264de4;
}

#skillSet ul li:nth-child(2) h2:after {
	content: url("css-icon.png");
	vertical-align: middle;
}

#skillSet ul li:nth-child(3) h2 {
	color: #F0DB4F;
}


#skillSet ul li:nth-child(3) h2:after {
	content: url("JavaScript-logo.png");
	vertical-align: middle;
}

#skillSet ul li:nth-child(4) h2 {
	color: #4B8BBE;
}


#skillSet ul li:nth-child(4) h2:after {
	content: url("python-logo.png");
	vertical-align: middle;
}

#skillSet ul li:nth-child(5) h2 {
	color: #f89820;
}


#skillSet ul li:nth-child(5) h2:after {
	content: url("Java-logo.png");
	vertical-align: middle;
}
.abbr {
	font-size: 12px;
}

.about {
	margin: 2rem 0;
}


.source {
	margin: 1rem 0;
	text-indent: 0;
}

.illustration {
	display: flex;
	justify-content: center;
	align-content: center;
}

.illustration img {
	height: 15rem;
}


#personalProject ul li h2 {
	color: var(--blue);
}

.sampleLink {
	margin: 1rem 0 1rem 0;
	text-align: center;
}

footer {
	width: 100vw;	
	text-align: center;
	background: var(--black);
}

.contentFooter {
	font-size: 14px;
	background: transparent;
	color: #55FBDC;
	margin: 1rem 0px;
}

.followLinks {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.followLinks div p {
	display: inline;
}

.followLinks div img {
	vertical-align: middle;
	height: 12px;
}

.followLinks div:nth-child(1) a {
	color: #55FBDC;
	text-decoration: none;
}

.followLinks div:nth-child(1) a:hover {
	text-decoration: underline;
}


@media only screen and (min-width: 350px) {

	.intro-header {
		margin: 0px 1rem  3rem 1rem;

	}
}


@media only screen and (min-width: 420px) {

	.intro-header {
		justify-content: center;
	}

	.intro-header {
		display: inline-block;
		margin: 0rem 3rem;
		margin-bottom: 5rem;
	}
}

@media only screen and (min-width: 1000px) {

	#header {
		background: var(--black);
		color: var(--white);
	}

	#header {
		display: flex;
		justify-content: space-between;
		overflow: unset;
		align-items: center;

	}

	.header-top {
		display: inline-block;
		margin-left: 3rem;
		border: none;
		width: auto;
	}

	nav {
		display: none;
	}

	#menuBar {
		height: auto;
		display: inline;
		width: auto;
		margin: 0px 2rem;
		display: flex;
		align-items: center;
	}

	#menuBar ul {
		display: block;
		height: auto;
		display: inline-block;
	}

	#menuBar ul li {
		display: inline-block;
		border: none;
	}

	#menuBar ul li a {
		border: none;
		color: var(--white);
	}

	.intro-header, .intro-memo {
		margin: 1rem 13rem;
	}

	.intro-header h1 {
		font-size: 4rem;
	}

	.intro-header h2 {
		font-size: 2rem;
	}

	.intro-memo {
		margin: 5rem 15rem;
	}

	#skillSet ul li, #personalProject ul li {
		display: flex;
		align-items: center;
		margin: 5rem 0px;
		border-top: 1px solid gray;
		padding: 2rem 0px;
	}

	#skillSet ul li:nth-child(2n), #personalProject ul li:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.content , .illustration {
		width: 50%;
	}
}